<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>{{ title }} · rakugaki manual</title>
        <link rel="stylesheet" href="/static/base.css">
        <link rel="stylesheet" href="/static/docs.css">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="/static/live-reload.js" type="module"></script>
    </head>

    <body>
        <main>
            <div class="wrapper">
                {{{ content }}}
            </div>
        </main>
    </body>
</html>
